@font-face {
    font-family: 'Halvar Breit Md';
    src: url('HalvarBreit-Md.woff2') format('woff2'),
        url('HalvarBreit-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.woff2') format('woff2'),
        url('Baskerville.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

